{% extends 'soil/base.html' %}
{% block body %}
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 align="center">Welcome to Modern Farming!</h1>
            <p align="center">Farming made easier and productive !</p>
        </div>
        <div class="jumbotron">
            <h1>Why ?</h1>
            <p>Farming is on of the most important factors for growth.</p>
            <hr>
            <h1>How ?</h1>
            <p>By monitoring the various factors that affect yield and optimizing them.</p>
            <hr>
            <h1>What ?</h1>
            <p>By using our Arduino powered soil testing kit you can analyze your soil and get information on how to improve your yield.</p>
        </div>
    </div>
</body>
{% endblock %}
